<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Compare</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="events.js"></script>
    </head>
    <body>
        <p>
            <a href ="/"> Home </a> |
            <a href="single"/> Single </a> |
            <a href="compare" /> Compare </a>
        </p>

        <p> Compare company page</p>

        <input id="name" type="text" name="name"/>
        <input id="compareSearch" type="submit"/>


        <div id = "charts">
            <div id="chart1">

            </div>
            <div id="chart2">

            </div>
            <div id="chart3">

            </div>
            <div id="chart4">

            </div>
            <div id="chart5">

            </div>
        </div>
    </body>
</html>