<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Single</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="events.js"></script>
    </head>
    <body>
        <p>
            <a href ="/"> Home </a> |
            <a href="single"/> Single </a> |
            <a href="compare" /> Compare </a>
        </p>

        <p> Single page checking auto deploy</p>

        <input id="typeAheadID" type='text' class='typeahead'/>
        <input id="compareSearch" type="submit"/>

        <p id ="complaintSection"> There are <span id="complaintCount">0</span> complaints for
            <span id="companyName"> </span>
        </p>
    <div id = "chart"></div>
    </body>
</html>